@charset "UTF-8";

body {
  font-family: "Josefin Sans", sans-serif;
}

header {
  padding-bottom: 50vh;
}

header nav {
  /* stickyがなぜか反映されない。 */
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
}
